@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gallery-col {
    flex: 25%;
  }
}
html {
  overscroll-behavior: none;
}
@media (width <= 1024px) {
  .gallery-col {
    flex: 20%;
  }
}
@media (width <= 540px) {
  .gallery-col {
    flex: 100%;
  }
}

.player-wrapper {
  position: relative;
  padding-top: 50.25%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
